.collection-item {
  width: 22%;
  margin: 0 1.5%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    flex-grow: 1;
  }

  .collection-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .custom-button {
    position: absolute;
    top: 240px;
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    .image {
      transition: opacity 0.7s ease-out;
      opacity: 0.85;
    }

    .custom-button {
      transition: opacity 0.3s ease-out;
      opacity: 1;
      visibility: visible;
    }
  }
}
